<div class="productlist container-fluid">
<h1>Products</h1>
  <div class="row">
    <div class="col" *ngFor="let product of products; index as productId">
     <div class="productitem">
    <h3><a [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{ product.name }} </a></h3>
     <p *ngIf="product.origin">Origin: {{ product.origin }}</p>
     <div class="productdescription">
     <p *ngIf="product.description">Description: {{ product.description }} </p>
    </div>
     <img src={{product.image}} alt="-" style="width:auto;height:80px;"> 
     <br>
     <div class="productbuttons">
     <button style="float: right;" (click)="share()">Share</button>
     <app-product-alerts
     [product]="product"
     (notify)="onNotify()">
     </app-product-alerts>
    </div>
    </div>
   </div>
  </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->