
<a style="display: flex;" [routerLink]="['/']">

<img src="https://github.com/xLPMG/premium-tea-shop/blob/master/src/assets/own-logo-white.png?raw=true" style="width:auto;height:40px;">
  <h1 style="margin-left: 5px; margin-right: 5px;">Premium&nbsp;Tea</h1>
</a>
<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->